@model IEnumerable<Account>
@{
    var buttonType = Context.Session.GetString("buttonType");
}

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(x => x.First().AccountNumber)</th>
        <th>@Html.DisplayNameFor(x => x.First().AccountType)</th>
        <th>@Html.DisplayNameFor(x => x.First().Balance)</th>
        <th></th>
    </tr>
    @foreach(var account in Model) {
        <tr>
            <td>@Html.DisplayFor(x => account.AccountNumber)</td>
            <td>@Html.DisplayFor(x => account.AccountType)</td>
            <td>@Html.DisplayFor(x => account.Balance)</td>
            <td>
                @switch (buttonType)
                {
                    case "D":
                        <a class="btn btn-primary" asp-controller="Customer" asp-action="Deposit" asp-route-id="@account.AccountNumber">Deposit</a>
                        break;
                    case "W":
                        <a class="btn btn-primary" asp-controller="Customer" asp-action="Withdraw" asp-route-id="@account.AccountNumber">Withdraw</a>
                        break;
                    case "T":
                        <a class="btn btn-primary" asp-controller="Customer" asp-action="Transfer" asp-route-id="@account.AccountNumber">Transfer</a>
                        break;
                    case "S":
                        <a class="btn btn-primary" asp-controller="Customer" asp-action="Statement" asp-route-id="@account.AccountNumber">Check</a>
                        break;    
                }
            </td>
        </tr>
    }
</table>
